.dashboard-container {
    color: black;
}

.bio-container {
    position: relative;
    float: left;
    border: 0.25rem solid black;
    width: 30rem;
    height: 40rem;
    margin: 1rem;
}

.profile-picture-container {
    width: 20rem;
    height: 15rem;
    
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;

    text-align: center;
    font-size: 12rem;
}

.bio-description-container {
    border: 0.25rem solid black;
    width: 20rem;
    height: 18rem;

    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;

    font-size: smaller;
}

.liked-history-container {
    position: relative;
    float: right;

    border: 0.25rem solid black;
    width: 40rem;
    height: 40rem;
    margin: 1rem;

    overflow: scroll;
}

.liked-history-title {
    text-align: center;
}

#myPics {
    height: 30rem;
}

