.dashboard-container {
    color: black;
}

.bio-container {
    position: relative;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 25rem;
    height: 32.5rem;
    margin-left: 8rem;
    margin-top: 2rem;
    text-align: center;
}

#profpic {
    width: 15rem;
    height: 10rem;
    text-align: center;
}

.liked-history-container {
    position: relative;
    float: right;

    width: 40rem;
    height: 37rem;
    margin: 2rem;

    overflow: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.liked-history-title {
    text-align: center;
}

#myPics {
    height: 30rem;
}





.edit {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}