.title-box-container {
    width: 55rem;
    height: 38rem;

    z-index: 1;

    position: absolute;
    top: 50%;
    left: 30%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.title-container {
    width: 90%;
    height: 40%;
    margin: 5%;

    position: relative;
    color: #3f51b5;

    animation: fadein 2s;
    -webkit-animation: fadein 3s;
}

#title {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.three-picture-container {
    animation: fadein 2s;
    -webkit-animation: fadein 3s;
}

.picture-container1 {
    height: 30%;
    width: 30%;

    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    z-index: 2;
}

.picture-container2 {
    height: 30%;
    width: 30%;

    position: absolute;
    top: 65%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    z-index: 1;
}

.picture-container3 {
    height: 30%;
    width: 30%;

    position: relative;
    top: 10%;

    position: absolute;
    top: 75%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    z-index: 3;
}

img{ 
    width: 100%; 
    height: 100%; 
}

.signin-box {
    border: 0.5px solid gray;
    width: 30rem;
    height: 35rem;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 80%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.signin-box-header {
    border: 1px solid black;
    width: 100%;
    height: 1rem;

    background-color: #3f51b5;
}

.input-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

.avatar-picture {
    color: black;
    font-size: 8rem;
    padding: 0rem;
}

.avatar-picture-signup {
    color: black;
    font-size: 4rem;
    padding: 0rem;
}

.forgot-password-container {
    color: #1a73e8;
    background-color: transparent;
    font-size: 1rem;
}